html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  max-width: 200px;
}
#logo img {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 20px;
}
.centered {
  text-align: center;
}

#content_items {
  display: flex;
  justify-content: flex-start;
}
#content_items img {
  width: 270px;
  height: 300px;
}
#content_text a {
  display: block;
}
/* 
#comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.comment {
  display: flex;
  justify-content: start;
  align-items: center;
}
.comment_image {
  width: 50px;
  margin-right: 20px;
  padding: 0;
}
.comment_image img {
  padding: 0;
}
#about table {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
  border-collapse: collapse;
}
#about table td,
th {
  border: 1px solid #ccc;
}
